body {
    background-color: gray;
    text-align: center;

}


.input-field {

    background-color: yellow;
    text-align: center;
}

.answer {

    text-align: center;
    background-color: ivory;
}

.blur {
    background: url(src/ed/slc1.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    filter: blur(13px);
    position: absolute;
    height: 300px;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
}

.widget {
    border-top: 2px solid rgba(255, 255, 255, .5);
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    height: 100px;
    width: 35%;
    overflow: hidden;
}

.center {
    position: absolute;
    margin: auto;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
}
