/* Style.css */


html,
body {

  height: 100%;

}

h1, h5 {

  padding-top: 5px;
}

h2 {
  padding-bottom: 2rem;

}
 h3, h4{
  width: 100%;
  color: black;
  text-align: center;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

img {
  width: 100%;
  border-radius: 50%;

}

.intro {
  background: linear-gradient(rgba(255,255,255,0.50), rgba(255,255,255,0.50)), url("../images/slc.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;


}


.intro-caption {

  font-size: 1.2rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

.caption {
  position: absolute;
  filter: blur(0px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.intro-box {


  width: 300px;
  /*
  background: linear-gradient(rgba(192,192,192,0.7), rgba(192,192,192,0.7));
  */
  filter: blur(2px);
  padding: 25px;
  margin: 25px;
  text-align: center;
  color: white;

}

.am-section{
  display: flex;
  flex-direction: column;

}

.about-section {

  padding: 10rem;
  text-align: center;
}
.am-content {

    padding: 8rem;
    overflow: hidden;
    margin-left: 0p;
}

.headshot {

  diplay: flex;
  justify-content: end;



}
.img {
  width: 200px;

}
.icon-box {
  display: flex;
  justify-content: space-around;

}
.col {

  margin: 0;
  padding: 0:

}


.projects {

  background: #f0f0f0;
  padding: 8rem;
  display: inline-block;
  text-align: center;
  align-content: center;

}

.contact {

height: 100%;
width: 100%;
padding: 8rem;
}



.blur {
  background: url(../images/slc.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(13px);
  position: absolute;
  height: 300px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.widget {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  height: 100px;
  width: 35%;
  overflow: hidden;
}

.center {
  position: absolute;
  margin: auto;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
}

.icon {
  font-size: 50px;
}

